[package]
name = "miniaudio_ffi"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = { version = "2.16", features = ["napi4"] }
napi-derive = "2.16"
rodio = { version = "0.17", features = ["wav", "mp3", "flac", "vorbis"] }

[build-dependencies]
napi-build = "2.1"

[profile.release]
lto = true
